[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json.git
[submodule "vendors/meshoptimizer"]
	path = vendors/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui.git
